{% extends "base.html" %}
{% block title %}
List XForms
{% endblock %}
{% block content %}
<table class="pretty fullw">
	<thead>
		<tr>
			<th>
				
			</th>
			<th>
				Public?
			</th>
			<th>
				Title
			</th>
			<th>
				Number of Submissions
			</th>
			<th>
				Date of Last Submission
			</th>
		</tr>
	</thead>
	<tbody>
{% for xform in xforms %}
		<tr>
			{% if xform.downloadable %}
			<td class='centered'>
				<a href="x/{{xform.id}}" class="edit">[ edit ]</a>
				<a href="x/{{xform.id}}/hide" class="delete">[ hide ]</a>
			</td>
			<td class='centered'>
				<span class="downloadable true">Downloadable</span>
			</td>
			{% else %}
			<td class='centered'>
				<a href="x/{{xform.id}}" class="edit">[ edit ]</a>
				<a href="x/{{xform.id}}/show" class="delete">[ show ]</a>
			</td>
			<td class='centered'>
				<span class="downloadable false">Not Downloadable</span>
			</td>
			{% endif %}
			<td class='centered'>
				{{ xform.title }}
			</td>
			<td class='centered'>
				{{ xform.submission_count }}
			</td>
			<td class='centered'>
				{{ xform.date_of_last_submission }}
			</td>
		</tr>
{% endfor %}
	</tbody>
</table>
<script type="text/javascript" charset="utf-8">
<!--
	$('tr span.downloadable.true').each(function(){$(this).parents('tr').find('td').css({'font-weight':'bold'})})
-->
</script>
<br />
<a href="x/new" class="button">Add XForm</a>
{% endblock %}
