{% extends "base.html" %}
{% block title %}
List XForms
{% endblock %}
{% block content %}
<table class="pretty padded fullw">
	<thead>
		<tr>
			<th>
				Form Name
			</th>
			<th>
				Number of Submissions
			</th>
			<th>
				Last Submission
			</th>
			<th>
				View Submissions
			</th>
			<th>
				CSV
			</th>
		</tr>
	</thead>
	<tbody>
{% for xform in xforms %}
		<tr>
			<td>
				{{xform.title}}
			</td>
			<td>
				{{xform.submission_count}}
			</td>
			<td>
				{{xform.date_of_last_submission}}
			</td>
			<td>
				<a href="#" class="button">View Submissions</a>
			</td>
			<td>
				<a href="#" class="button">Download CSV</a>
			</td>
			<!--
			{% if xform.downloadable %}
			<td class='centered'>
				<a href="xform/{{xform.id_string}}" class="edit">[ edit ]</a>
				<a href="xform/{{xform.id_string}}/hide" class="delete">[ hide ]</a>
			</td>
			<td class='centered'>
				<a href="xform/{{xform.id_string}}.xml"><span class="downloadable true">Downloadable</span></a>
			</td>
			{% else %}
			<td class='centered'>
				<a href="xform/{{xform.id_string}}" class="edit">[ edit ]</a>
				<a href="xform/{{xform.id_string}}/show" class="delete">[ show ]</a>
			</td>
			<td class='centered'>
				<a href="xform/{{xform.id_string}}.xml"><span class="downloadable false">Not Downloadable</span></a>
			</td>
			{% endif %}
			<td class='centered'>
				{{ xform.title }}
			</td>
			<td class='centered'>
				{{ xform.submission_count }}
			</td>
			<td class='centered'>
				{{ xform.date_of_last_submission }}
			</td>
			-->
		</tr>
{% endfor %}
	</tbody>
</table>
<script type="text/javascript" charset="utf-8">
<!--
	$('tr span.downloadable.true').each(function(){$(this).parents('tr').find('td').css({'font-weight':'bold'})})
-->
</script>
<br />
<a href="xform/new" class="button">Add XForm</a>
{% endblock %}
